.flex-container {
    display: flex;
}


.main {
    /* margin-right: 10px; */
    width: 300px;
    text-align: center;
}

.Lesha {
    background-color: darkgoldenrod;
}

.Katia {
    background-color: cyan;
}

input {
    width: 50px;
    height: 20px;
}

#finish {
    margin: 10px;
}

table,
tr,
td {
    margin: 0px;
    border: yellow solid;
    vertical-align: top;
    text-align: center;
    border-collapse: collapse;
}

.red {
    background-color: tomato;
}
